.login-container {
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: 50% 50%;
}

.or-divider {
  display: flex;
  align-items: center;
  margin: 20px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #aaa;
}

.or-text {
  margin: 0 10px;
  font-weight: bold;
  color: #555;
}

.login-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.login-input {
  display: grid;
  padding: 5px 20px;
  margin: 5px 0px;
  grid-template-columns: 30% 70%;
}
.login-input-rand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-avatar-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-input input {
  width: 100%;
  padding: 5px 20px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgb(18, 24, 38);
  font-size: 16px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(18, 24, 38);
}

.button-groups {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-button {
  width: 150px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgb(18, 24, 38);
  background-color: white;
  border: 3px solid rgb(18, 24, 38);
  cursor: pointer;
  line-height: 1rem;
  font-weight: 600;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  transition: all 0.2s;
}
.login-button > span {
  margin-left: 5px;
}

.login-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: rgb(18, 24, 38);
  color: white;
  transition: all 0.2s;
}

.login-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.login-button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.oauth-groups {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.oauth-button {
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  line-height: 1rem;
}
.google-button {
  background-color: #ff4d4d;
}
.google-button:hover {
  background-color: #ff6666;
}
.facebook-button {
  background-color: #1877f2;
}
.facebook-button:hover {
  background-color: #3b5ba2;
}
.github-button {
  background-color: #333333;
}
.github-button:hover {
  background-color: #555555;
}
.discord-button {
  background-color: #7289da;
}
.discord-button:hover {
  background-color: #99aab5;
}
